.new-point{
padding: 10%;
}

.new-point h3{
    text-align:left;
}

.input-group{
    width: 40%;
}

 p{
    text-align:left;
}

.positionC{
    width: 40%;
}

.form-group{
    text-align:left;
}

button{
    text-align:left;
}